

<h1> Dice Roll </h1>

  <form action="/process_roll">
  <label for="alice">Number of dice to roll?</label>
  <input id="alice" type="text" name="dice"> 
  
  <label for="zebra">How many sides per die?</label>
  <input id="zebra" type="text" name="sides">

  <button> Roll!</button>
  </form>
